{% extends 'base.html' %}
{% block title %}
Editar respuesta tipo verdadero o falso
{% endblock title %}
{% block contenido %}
<h4>Pregunta</h4>
<h5>{{pregunta.contenido}}</h5>
<h4>Editar la Respuesta:</h4>
<form method="POST" action="/edit_respuesta_booleana/">
	{% csrf_token %}
	<br><br>
	<input type="hidden" name="idpregunta" value="{{pregunta.id}}" required>
	<input type="hidden" name="id1" value="{{respuesta.id}}" required>
	{% if respuesta.contenido == "verdadero" %}
		<input type="radio" name="booleana" value="1" checked />Verdadero
		<input type="radio" name="booleana" value="2">Falso
	{% else %}
		<input type="radio" name="booleana" value="1">Verdadero
		<input type="radio" name="booleana" value="2" checked />Falso
	{% endif %}
	<input type="submit" value="Guardar">
</form>
{% endblock contenido %}