{% extends 'base.html' %}
{% block titulo %}
Editar respuestas tipo Respuesta Múltiple
{% endblock titulo %}
{% block contenido %}
<form method="POST" action="/edit_respuesta_multiple/">
	<h2>Pregunta</h2>
	<h4>{{pregunta.contenido}}</h4>
	<br><br><br>
	{% csrf_token %}
	<input type="hidden" name="idpregunta" value="{{pregunta.id}}" required />
	{% if respuesta1 %}
		<p>respuesta1:</p>
		<input type="hidden" name="id1" value="{{respuesta1.id}}" required />
		<input type="text" name="respuesta1" value="{{respuesta1.contenido}}" required />
		<p>respuesta2:</p>
		<input type="hidden" name="id2" value="{{respuesta2.id}}" required>
		<input type="text" name="respuesta2" value="{{respuesta2.contenido}}" required />
		<p>respuesta3:</p>
		<input type="hidden" name="id3" value="{{respuesta3.id}}" required>
		<input type="text" name="respuesta3" value="{{respuesta3.contenido}}" required />
		<p>respuesta4:</p>
		<input type="hidden" name="id4" value="{{respuesta4.id}}" required>
		<input type="text" name="respuesta4" value="{{respuesta4.contenido}}" required />
		<br>
		Elige la Respuesta Correcta:
		<input type="checkbox" name="multiple" value="1" checked />
		<input type="checkbox" name="multiple" value="2">
		<input type="checkbox" name="multiple" value="3">
		<input type="checkbox" name="multiple" value="4">
		<br>
		<input type="submit" value="Guardar">
	{% else %}
		<p>no se han registrado respuestas</p>
	{% endif %}
</form>
{% endblock contenido %}