{% extends 'base.html' %}
{% block titulo %}
Inicio de Sesion
{% endblock titulo %}
{% block contenido %}
<form method="POST" action=".">
	{% csrf_token %}
	<p>Nombre de la institución:</p>
	<select name="username">
        {% for i in instituciones %}
        	<option value="{{i}}" name="nombre">{{i}}</option>
        {% endfor %}
    </select>
    <br>
	<input type="password" name="password" required />
	<br><br>
	<input type="submit" value="ingresar">
</form>
<br><br><br>
<h5>si tu institucion aún no tiene cuenta Registrate <a href="/register_institucion">aquí</a></h5>
{% endblock contenido %}