{% extends 'base.html' %}
{% block titulo %}
Agregar Pregunta Booleana
{% endblock titulo %}
{% block contenido %}
<form method="POST" action=".">
	{% csrf_token %}
	<div class="titulo-pregunta">
		<h4>Seleccione el Grado de la pregunta tipo verdadero o falso:</h4>
	</div>
	<div class="select-question">
		<select name="grado" value="grado">
			<option value="1">Primaria</option>
			<option value="2">Sexto y Séptimo</option>
			<option value="3">Octavo y Noveno</option>
		</select>
	</div>
	<div class="titulo-pregunta">
		<h4>Ingrese la pregunta:</h4>
	</div>
	<textarea name="pregunta" class="text-question" onKeyDown="textCounter(this.form.pregunta,this.form.remLen,60);" onKeyUp="textCounter(this.form.pregunta,this.form.remLen,60);" required/></textarea>
	<br>
	<input readonly type=text class="count" name=remLen size=3 maxlength=3 value="60" style="width:12px;height:10px;font-size:0.8em">
	<br>
	<input type="radio" name="booleana" value="1" checked />Verdadero
	<input type="radio" name="booleana" value="2">Falso
	<br><br>
	<input type="submit" value="Guardar">
</form>
{% endblock contenido %}