{% extends 'base.html' %}
{% block titulo %}
Agregar Pregunta de Tipo Secuencial
{% endblock titulo %}
{% block contenido %}
<form method="POST" action=".">
	{% csrf_token %}
	Seleccione el Grado de la pregunta:
	<br>
	<br><br>
	<select name="grado" value="grado">
		<option value="1">Primaria</option>
		<option value="2">Sexto y Séptimo</option>
		<option value="3">Octavo y Noveno</option>
	</select>
	<br>
	Ingrese la pregunta:
	<br>
	<input name="pregunta" type="text" required />
	<br>
	<p>Ingresa las Respuestas: </p>
	<p>respuesta1:</p>
	<input type="text" name="respuesta1" required />
	<p>respuesta2:</p>
	<input type="text" name="respuesta2" required />
	<p>respuesta3:</p>
	<input type="text" name="respuesta3" required />
	<p>respuesta4:</p>
	<input type="text" name="respuesta4" required />
	<p>Elige la Secuencia Correcta de las respuestas:</p>
	<p>Secuencia 1: </p>
	<input type="text" name="secuencia1" required />
	<p>Secuencia 2: </p>
	<input type="text" name="secuencia2" required />
	<p>Secuencia 3: </p>
	<input type="text" name="secuencia3" required />
	<p>Secuencia 4: </p>
	<input type="text" name="secuencia4" required />
	<br>
	<input type="submit" value="Ingresar Respuestas">
</form>
{% endblock contenido %}