{% extends 'base.html' %}
{% block titulo %}
Agregar Respuestas
{% endblock titulo %}
{% block contenido %}
<form method="POST" action="/add_respuesta_multiple/">
	{% csrf_token %}
	<input type="hidden" value="{{pregunta.id}}" name="numeroPregunta" >
	<h1>{{pregunta.id}}</h1>
	<p>respuesta1:</p>
	<input type="text" name="respuesta1">
	<p>respuesta2:</p>
	<input type="text" name="respuesta2">
	<p>respuesta3:</p>
	<input type="text" name="respuesta3">
	<p>respuesta4:</p>
	<input type="text" name="respuesta4">
	Elige la Respuesta Correcta:
	<input type="checkbox" name="multiple1" value="1">
	<input type="checkbox" name="multiple2" value="2">
	<input type="checkbox" name="multiple3" value="3">
	<input type="checkbox" name="multiple4" value="4">
	<input type="submit" value="Guardar">
</form>
{% endblock contenido %}