{% extends 'base.html' %}
{% block titulo %}
Editar respuestas tipo Respuesta Secuencial
{% endblock titulo %}
{% block contenido %}
<form method="POST" action="/edit_respuesta_secuencial/" onsubmit="return validar();">
	<h2>Pregunta</h2>
	<h4>{{pregunta.contenido}}</h4>
	<br><br><br>
	{% csrf_token %}
	<input type="hidden" name="idpregunta" value="{{pregunta.id}}" required />
	{% if respuesta1 %}
		<h4>Editas Las Respuestas:</h4>
		<h5>respuesta 1:</h5>
		<input type="hidden" name="id1" value="{{respuesta1.id}}" required />
		<textarea name="respuesta1" class="text-answer-edit" onKeyDown="textCounter(this.form.respuesta1,this.form.remLen1,40);" onKeyUp="textCounter(this.form.respuesta1,this.form.remLen1,40);" required />{{respuesta1.contenido}}</textarea>
		<input type="text" id="secuencia1" value="{{respuesta1.secuencia}}" name="secuencia1" onKeyDown="textCounterSec(this.form.secuencia1,1);" onKeyUp="textCounterSec(this.form.secuencia1,1);" style="width:12px;height:10px;font-size:1em" required /> secuencia
		<br>
		<input readonly class="count-edit" type="text" name="remLen1" size="3" maxlength="3" value="40" style="width:12px;height:10px;font-size:0.8em">
		<h5>respuesta 2:</h5>
		<input type="hidden" name="id2" value="{{respuesta2.id}}" required>
		<textarea name="respuesta2" class="text-answer-edit" onKeyDown="textCounter(this.form.respuesta2,this.form.remLen2,40);" onKeyUp="textCounter(this.form.respuesta2,this.form.remLen2,40);" required />{{respuesta2.contenido}}</textarea>
		<input type="text" id="secuencia2" value="{{respuesta2.secuencia}}" name="secuencia2" onKeyDown="textCounterSec(this.form.secuencia2,1);" onKeyUp="textCounterSec(this.form.secuencia2,1);" style="width:12px;height:10px;font-size:1em" style="width:12px;height:10px;font-size:1em" required /> secuencia
		<br>
		<input readonly class="count-edit" type="text" name="remLen2" size="3" maxlength="3" value="40" style="width:12px;height:10px;font-size:0.8em">
		<h5>respuesta 3:</h5>
		<input type="hidden" name="id3" value="{{respuesta3.id}}" required>
		<textarea name="respuesta3" class="text-answer-edit" onKeyDown="textCounter(this.form.respuesta3,this.form.remLen3,40);" onKeyUp="textCounter(this.form.respuesta3,this.form.remLen3,40);" required />{{respuesta3.contenido}}</textarea>
		<input type="text" id="secuencia3" value="{{respuesta3.secuencia}}" name="secuencia3" onKeyDown="textCounterSec(this.form.secuencia3,1);" onKeyUp="textCounterSec(this.form.secuencia3,1);" style="width:12px;height:10px;font-size:1em" style="width:12px;height:10px;font-size:1em" required /> secuencia
		<br>
		<input readonly class="count-edit" type="text" name="remLen3" size="3" maxlength="3" value="40" style="width:12px;height:10px;font-size:0.8em">
		<h5>respuesta 4:</h5>
		<input type="hidden" name="id4" value="{{respuesta4.id}}" required>
		<textarea name="respuesta4" class="text-answer-edit" onKeyDown="textCounter(this.form.respuesta4,this.form.remLen4,40);" onKeyUp="textCounter(this.form.respuesta4,this.form.remLen4,40);" required />{{respuesta4.contenido}}</textarea>
		<input type="text" id="secuencia4" value="{{respuesta4.secuencia}}" name="secuencia4" onKeyDown="textCounterSec(this.form.secuencia4,1);" onKeyUp="textCounterSec(this.form.secuencia4,1);" style="width:12px;height:10px;font-size:1em" style="width:12px;height:10px;font-size:1em" required /> secuencia
		<br>
		<input readonly type="text" class="count-edit" name="remLen4" size="3" maxlength="3" value="40" style="width:12px;height:10px;font-size:0.8em">
		<br>
			<input type="submit" class="btn btn-primary" value="Guardar">
		{% else %}
			<p>no se han registrado respuestas</p>
	{% endif %}
</form>
{% endblock contenido %}