{% extends 'base.html' %}
{% block titulo %}
Perfil de usuario
{% endblock titulo %}
{% block contenido %}
<form method="POST" action=".">
	{% csrf_token %}
	<h2>tipo de la pregunta:</h2>
	<br><br>
	<select name="tipoRespuesta" class="select">
		<option value="unica_respuesta">Multiples Opciones, única respuesta</option>
		<option value="multiple_repuesta">Multiples Opciones, múltiples respuestas</option>
		<option value="booleana">verdadero ó falso</option>
		<option value="secuencial">Secuencial</option>
	</select>
	<br><br><br>
	<input type="submit" value="Crear Pregunta" class="btn btn-primary">
</form>
{% endblock contenido %}