{% extends 'base.html' %}
{% block title %}
Editar Pregunta de Agilidad Mental
{% endblock title %}
{% block contenido %}
<form action="." method="POST">
	{% csrf_token %}
	<h4>Grado:</h4>
	<select name="grado">
		{% if pregunta.grado == 1 %}
			<option value="1" selected>Primaria</option>
			<option value="2">Sexto y Séptimo</option>
			<option value="3">Octavo y Noveno</option>
		{% elif pregunta.grado == 2 %}
			<option value="1">Primaria</option>
			<option value="2" selected>Sexto y Séptimo</option>
			<option value="3">Octavo y Noveno</option>
		{% elif pregunta.grado == 3 %}
			<option value="1">Primaria</option>
			<option value="2">Sexto y Séptimo</option>
			<option value="3" selected>Octavo y Noveno</option>
		{% endif %}
	</select>
	<br><br>
	<h4>Editar la Pregunta:</h4>
	<br>
	<textarea name="contenido" onKeyDown="textCounter(this.form.contenido,this.form.remLen,60);" onKeyUp="textCounter(this.form.contenido,this.form.remLen,60);" required>{{pregunta.contenido}}</textarea>
	<br>
	<input readonly class="count" type="text" name="remLen" size="3" maxlength="3" value="60" style="width:12px;height:10px;font-size:0.8em"><br><br>
	<input type="submit" class="btn btn-primary" value="Editar Respuestas">
</form>
{% endblock contenido %}