{% extends 'base.html' %}
{% block title %}
Pregunta de agilidad mental
{% endblock title %}
{% block contenido %}
<script>
function option_selected(sel) {
	var option = sel.options[sel.selectedIndex].value;
	if(option == 1){
		$('#content_to_pop').load('/register_question_crafs_agility/');
	}else if(option == 2){
		$('#content_to_pop').load('/register_question_geometrics_agility/');
	}else if(option == 3){
		$('#content_to_pop').load('/register_question_objects_agility/');
	}
}
</script>
<div class="option">
<h4>Elije el tipo de Imágenes</h4>
<select  class="select" id="option_selected" onchange="option_selected(this)">
	<option value="" selected>Elije una opción</option>
	<option value="1">Imágenes de dados</option>
	<option value="2">Imágenes de Figuras Geométricas</option>
	<option value="3">Imágenes de Objetos</option>
</select>
<br>
</div>

<div id="content_to_pop">
</div>
{% endblock contenido %}