<!doctype html>
<html>
<head>
    <title>Ingresar Pregrunta de agilidad mental con figuras geométricas</title>
    <script src="/media/js/canvas-image.js/"></script>
    <style src="/media/css/style.css/"></style>
</head>
<body>
<div class="content-crafs">
    <div class="text-question-crafs">
        <h3>Datos de la pregunta de agilidad mental con preguntas de figuras geométricas</h3>
        <form method="POST" action=".">
            {% csrf_token %}
            <h5>Seleccione el Grado de la pregunta:</h5>
            <select name="grado" class="select" id="select-agility" value="grado">
                <option value="1">Primaria</option>
                <option value="2">Sexto y Séptimo</option>
                <option value="3">Octavo y Noveno</option>
            </select>
            <h5>Ingrese la pregunta:</h5>
            <textarea name="pregunta" class="text-question" onkeyDown="textCounter(this.form.pregunta,this.form.remlen,60);" onKeyUp="textCounter(this.form.pregunta,this.form.remlen,60);" id="textarea-agility" required></textarea>
            <br>
            <input readonly type="text" name="remlen" value="60" style="width:12px;height:10px;font-size:0.8em">
        </form>
    </div>
    <div class="images_container_crafs">
        <h4>Imágenes De Figuras Geométricas</h4>
        {% if  imagenes_geometricas %}
            {% for imageng in imagenes_geometricas %}
            <img src="/media/{{imageng.archivo}}" id="{{imageng.id}}" draggable="true" ondragstart="return empezar(event)" ondragend="return end(event)" width="40px" height="40px">
            {% endfor %}
        {% endif %}
    </div>
    <div class="answers_crafs">
        <div class="canvas_container1">
            <h5>Respuesta 1</h5>
            <canvas id="canvas1" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop1(event)"></canvas>
            <br>
            <input type="radio" name="agilidad" value="1" checked />
            <input type="button" class="btn btn-inverse" value="borrar" onclick="limpiar1()">
            <h5>Respuesta 2</h5>
            <canvas id="canvas2" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop2(event)"></canvas>
            <br>
            <input type="radio" name="agilidad" value="2">
            <input type="button" class="btn btn-inverse" value="borrar" onclick="limpiar2()">
            <h5>Respuesta 3</h5>
            <canvas id="canvas3" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop3(event)"></canvas>
            <br>
            <input type="radio" name="agilidad" value="3">
            <input type="button" class="btn btn-inverse" value="borrar" onclick="limpiar3()">
        </div>
        <div class="canvas_container2">
            <h5>Respuesta 4</h5>
            <canvas id="canvas4" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop4(event)"></canvas>
            <br>
            <input type="radio" name="agilidad" value="4">
            <input type="button" class="btn btn-inverse" id="clear" value="borrar" onclick="limpiar4()">
            <h5>Respuesta 5</h5>
            <canvas id="canvas5" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop5(event)"></canvas>
            <br>
            <input type="radio" name="agilidad" value="5">
            <input type="button" class="btn btn-inverse" id="clear" value="borrar" onclick="limpiar5()">
            <h5>Respuesta 6</h5>
            <canvas id="canvas6" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop6(event)"></canvas>
            <br>
            <input type="radio" name="agilidad" value="6">
            <input type="button" class="btn btn-inverse" id="clear" value="borrar" onclick="limpiar6()">
        </div>
            <a class="btn btn-primary" href="javascript:save(2);">Guardar Pregunta</a>
    </div>
</div>
</body>
</html>