{% extends 'base.html' %}
{% block titulo %}
Preguntas de usario
{% endblock titulo %}
{% block contenido %}
	{% if preguntas_agilidad %}
	<h3>Preguntas del colegio {{usuario.username}}</h3>
		<table  class="table table-bordered">
			<thead>
				<tr>
					<td><h3>Pregunta</h3></td>
					<td><h3>Tipo de Pregunta</h3></td>
				</tr>
			</thead>
			{% for pt in preguntas_agilidad %}
				<tbody>
					<tr>
						<td>{{pt.contenido}}</td>
						<td>Agilidad Mental</td>
						<td><a class="btn" href="/edit/pregunta/agilidad/{{pt.id}}"><li class="icon-pencil"></li>Editar</a></td>
						<td><a class="btn" href="/delete/pregunta/agilidad/{{pt.id}}" onClick="return confirm('se eliminaran todos los datos asociados a la pregunta. Desea Continuar?');"><li class="icon-remove"></li>Eliminar</a></td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	{% else %}
		<h4>El colgegio {{usuario.username}} aún no tiene preguntas</h4>
		<br><br><br>
		<a class="btn btn-primary" href="{% url 'vistaNewQuestionAgility' %}">Ingresar pregunta de agilidad mental</a>
	{% endif %}
	{% if preguntas_agilidad %}
		<a href="/preguntas/agilidad/page/1/"> << </a>
		{% if preguntas_agilidad.has_previous %}
			<a href="/preguntas/agilidad/page/{{preguntas_agilidad.previous_page_number}}">Anterior</a>
		{% else %}
			<a href="#">Anterior</a>
		{% endif %}
		{% if preguntas_agilidad.has_next %}
			<a href="/preguntas/agilidad/page/{{preguntas_agilidad.next_page_number}}">Siguiente</a>
		{% else %}
			<a href="#">Siguiente</a>
		{% endif %}
		<a href="/preguntas/agilidad/page/{{preguntas_agilidad.paginator.num_pages }}"> >> </a>
		<br><br><br>
		<h4>Página {{ preguntas_agilidad.number }} de {{ preguntas_agilidad.paginator.num_pages }} </h4>
	{% endif %}
{% endblock contenido %}