{% extends 'base.html' %}
{% block titulo %}
Agregar Pregunta Tipo agilidad Mental
{% endblock titulo %}
{% block contenido %}
<h3>Datos de la pregunta de agilidad mental</h3>
<form method="POST" action=".">
	{% csrf_token %}
	<div class="select-question">
		<div class="titulo-pregunta">
			<h5>Seleccione el Grado de la pregunta:</h5>
		</div>
		<select name="grado" class="select" id="select-agility" value="grado">
			<option value="1">Primaria</option>
			<option value="2">Sexto y Séptimo</option>
			<option value="3">Octavo y Noveno</option>
		</select>
	</div>
	<div class="pregunta-respuesta">
		<div class="pregunta">
			<div class="titulo-pregunta">
				<h5>Ingrese la pregunta:</h5>
			</div>
			<textarea name="pregunta" class="text-question" onkeyDown="textCounter(this.form.pregunta,this.form.remlen,60);" onKeyUp="textCounter(this.form.pregunta,this.form.remlen,60);" id="textarea-agility" required></textarea>
			<input readonly class="count" type="text" name="remlen" size="3" maxlength="3" value="60" style="width:12px;height:10px;font-size:0.8em">
		</div>
	</div>
</form>


<div class="canvas-imagenes">
    <div class="contenedor-canvas">
        <h4>Respuesta 1:</h4>
        <input type="radio" name="agilidad" value="1" checked />
        <input type="button" id="clear" value="borrar" onclick="limpiar1()">
        <canvas id="canvas1" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop1(event)"></canvas>
        <h4>Respuesta 2:</h4>
        <input type="radio" name="agilidad" value="2">
        <input type="button" id="clear" value="borrar" onclick="limpiar2()">
        <canvas id="canvas2" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop2(event)"></canvas>
        <h4>Respuesta 3:</h4>
        <input type="radio" name="agilidad" value="3">
        <input type="button" id="clear" value="borrar" onclick="limpiar3()">
        <canvas id="canvas3" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop3(event)"></canvas>
        <h4>Respuesta 4:</h4>
        <input type="radio" name="agilidad" value="4">
        <input type="button" id="clear" value="borrar" onclick="limpiar4()">
        <canvas id="canvas4" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop4(event)"></canvas>
        <h4>Respuesta 5:</h4>
        <input type="radio" name="agilidad" value="5">
        <input type="button" id="clear" value="borrar" onclick="limpiar5()">
        <canvas id="canvas5" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop5(event)"></canvas>
        <h4>Respuesta 6:</h4>
        <input type="radio" name="agilidad" value="6">
        <input type="button" id="clear" value="borrar" onclick="limpiar6()">
        <canvas id="canvas6" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop6(event)"></canvas>
        <input type="button" value="Guardar Pregunta" onclick="save()">
    </div>
    <div class="imagenes">
        <h4>Imagenes De Dados</h4>
        {% if  imagenes_dados %}
            {% for imagend in imagenes_dados %}
            <img src="/media/{{imagend.archivo}}" id="{{imagend.id}}" draggable="true" ondragstart="return empezar(event)" ondragend="return end(event)" width="60px" height="60px">
            {% endfor %}
        {% endif %}
        <br><br><br><br><br>
        <h4>Imagenes De Figuras Geometricas</h4>
        {% if  imagenes_geometricas %}
            {% for imageng in imagenes_geometricas %}
            <img src="/media/{{imageng.archivo}}" id="{{imageng.id}}" draggable="true" ondragstart="return empezar(event)" ondragend="return end(event)" width="60px" height="60px">
            {% endfor %}
        {% endif %}
        <br><br><br><br><br>
        <h4>Imagenes De Objetos</h4>
        {% if  imagenes_objetos %}
            {% for imageno in imagenes_objetos %}
            <img src="/media/{{imageno.archivo}}" id="{{imageno.id}}" draggable="true" ondragstart="return empezar(event)" ondragend="return end(event)" width="60px" height="60px">
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock contenido %}