{% extends 'base.html' %}
{% block titulo %}
Registrar la nueva institucion
{% endblock titulo %}
{% block contenido %}
<form method="POST" action="." onsubmit="return valid_register();">
	{% csrf_token %}
	<h4>Seleccione el nombre de la institución</h4>
	<select name="nombre">
        {% for i in instituciones %}
        	<option value="{{i}}" name="nombre">{{i}}</option>
        {% endfor %}
    </select>
    <br>
    <h4>Seleccione una contraseña para la institución:</h4>
    <input type="password" id="password1" name="password_one" required />
    <br>
    <h4>Confirmar contraseña:</h4>
    <input type="password" id="password2" name="password_two" required />
    <br>
    <input type="submit" class="btn btn-primary" value="registrar" required />
</form>
{% endblock contenido %}